<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" type="text/css" href="feedback_template_students.css">
</head>
<body>
    <table class='header_table'>
        <tr>
            <td class='header_table_cell'>
                <img src='images/azulhorizontal.png' class='header_image'>
            </td>
            <td class='header_table_cell'>
                <span class='header_text'>{{document_title}}</span>
            </td>
        </tr>
    </table>

    <table class='student_data_table'>
        <tr>
            <td class='student_data_table_title' colspan="10">Dados do Aluno</td>
        </tr>
        <tr>
            <td class='student_data_table_student_name' colspan="10">{{ student_name }}</td>
        </tr>
        <tr>
            <td class='student_data_table_cpf_course_cell' colspan="1">
                CPF:
            </td>
            <td class='student_data_table_cpf_course_value_cell' colspan="3">
                {{ student_cpf }}
            </td>
            <td class='student_data_table_cpf_course_cell' colspan="1">
                    Sala
            </td>
            <td class='student_data_table_cpf_course_value_cell' colspan="3">
                {{ student_room }}
            </td>
            <td class='student_data_table_rank' colspan="2" rowspan="5">
                {{ student_rank }}º Lugar
            </td>
        </tr>
        <tr>
            <td class='student_data_table_space'></td>
        </tr>
        <tr>
            <td class='student_data_table_cpf_course_cell' colspan="1">
                Curso:
            </td>
            <td class='student_data_table_cpf_course_value_cell' colspan="3">
                {{ student_course }}
            </td>
            <td class='student_data_table_cpf_course_cell'  colspan="1">
                PAA
            </td>
            <td class='student_data_table_cpf_course_value_cell'  colspan="3">
                {{ student_paa }}
            </td>
        </tr>
        <tr>
            <td class='student_data_table_space'></td>
        </tr>
        <tr>
            <td class='student_data_table_cpf_course_cell' colspan="4">
                Língua Estrangeira:
            </td>
            <td class='student_data_table_cpf_course_value_cell' colspan="2">
                {{ student_language }}
            </td>
        </tr>
    </table>

    <table class='student_grade_table'>
        <tr>
            <td class='student_grade_table_title' colspan="10">Suas Notas</td>
        </tr>
        <tr>
            <td class='student_grade_table_subtitle' colspan="10">Desempenho por matéria</td>
        </tr>
        <tr>
            <td class='student_grade_table_default_cell' colspan="2"></td>
            <td class='student_grade_table_default_cell' colspan="2">Pontuação</td>
            <td class='student_grade_table_default_cell' colspan="6" rowspan="{{ 2+(subjects|length) }}">
                <img src='{{ path_to_polar_chart }}'>
            </td>
        </tr>
        <tr>
            <td class='student_grade_table_default_cell_header' colspan="2">Matéria</td>
            <td class='student_grade_table_default_cell_header' colspan="1">Você</td>
            <td class='student_grade_table_default_cell_header' colspan="1">Média Geral</td>
        </tr>
        {% for subject in subjects %}
        <tr>
            <td class='student_grade_table_default_cell' colspan="2">{{ subject.name }}</td>
            <td class='student_grade_table_default_cell' colspan="1">{{ subject.student_grade }}</td>
            <td class='student_grade_table_default_cell' colspan="1">{{ subject.general_grade }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class='final_result_table'>
        <tr>
            <td class='final_result_table_title' colspan="10">Resultado Final</td>
        </tr>
        {% for result in final_results %}
        <tr>
            <td class='final_result_table_default_cell' colspan="5">{{ result.text }}</td>
            <td class='final_result_table_default_cell' colspan="5">{{ result.value }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class='result_per_subject_table'>
        <tr>
            <td class='result_per_subject_table_title' colspan="10">Resultado por questão</td>
        </tr>
        {% for subject in result_per_subject %}
            <tr>
                <td class='result_per_subject_table_subject_title' colspan="10">
                    {{ subject.name }}
                </td>
            </tr>
            <tr>
                <td class='result_per_subject_header_cell' colspan="2">Questão</td>
                <td class='result_per_subject_header_cell' colspan="2">Gabarito</td>
                <td class='result_per_subject_header_cell' colspan="2">Aluno</td>
                <td class='result_per_subject_header_cell' colspan="4">Pontuação</td>
            </tr>
            {% for question in subject.questions %}
            <tr>
                <td class='result_per_subject_default_cell' colspan="2">{{ question.number }}</td>
                <td class='result_per_subject_default_cell' colspan="2">{{ question.right_answer }}</td>
                <td class='result_per_subject_default_cell' colspan="2">{{ question.read_answer }}</td>
                {% if question.score == 0 %}
                <td class='result_per_subject_pontuation_cell_red' colspan="4">{{ question.score }}</td>
                {% else %}
                <td class='result_per_subject_pontuation_cell_green' colspan="4">{{ question.score }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <table class='essay_table'>
        <tr>
            <td class='essay_table_title' colspan="10">Redação</td>
        </tr>
        {% for criteria in essay %}
        <tr>
            <td class='essay_table_default_cell' colspan="5">{{ criteria.text }}</td>
            <td class='essay_table_default_cell' colspan="5">{{ criteria.grade }}</td>
        </tr>
        <tr>
            <td class='essay_comment' colspan="10">{{ criteria.comment }}</td>
        </tr>
        <tr>
            <tdc class='student_data_table_space'></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
