@font-face {
    font-family: Besom;
    src: url(fonts/Besom-free-font.ttf) format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}


@page {
    size: A4;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
    margin-right: 0.5cm;
}

table {
    border-collapse: collapse;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}


.header_table {
    width: 100%;
}

.header_table_cell {
    text-align: center;
}

.header_text {
    font-family: Besom;
    color: #2f5497;
    font-size: 50px;
}

.header_image {
    width: 8cm;
}

.student_data_table {
    width: 100%;
}

.student_data_table_title {
    font-family: Besom;
    color: white;
    background-color: #002060;
    text-align: center;
    font-size: 40px;
}

.student_data_table_student_name {
    font-family: Besom;
    color: #2f5497;
    background-color: #c5d9f1;
    text-align: center;
    font-size: 40px;
}

.student_data_table_cpf_course_cell {
    color: #2f5497;
    font-size: 30px;
    text-align: center;
    font-family: Besom;
}

.student_data_table_cpf_course_value_cell {
    color: #2f5497;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.student_data_table_rank {
    color: #2f5497;
    font-size: 40px;
    text-align: center;
    font-family: Besom;
}

.student_data_table_space {
    height: 10px;
}

.student_grade_table {
    width: 100%;
}

.student_grade_table_title {
    font-family: Besom;
    color: white;
    background-color: #002060;
    text-align: center;
    font-size: 40px;
}

.student_grade_table_subtitle {
    font-family: Besom;
    color: #2f5497;
    background-color: #c5d9f1;
    text-align: center;
    font-size: 40px;
}

.student_grade_table_default_cell {
    color: #2f5497;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.student_grade_table_default_cell_header {
    color: #2f5497;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    border-bottom-style: solid;
    border-bottom-color: #002060;
}

.final_result_table {
    width: 100%;
}

.final_result_table_default_cell {
    color: #2f5497;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.final_result_table_title {
    font-family: Besom;
    color: white;
    background-color: #002060;
    text-align: center;
    font-size: 40px;
}

.essay_table {
    width: 100%;
}

.essay_table_default_cell {
    color: #2f5497;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    border-bottom-style: solid;
    border-bottom-color: #002060;
    border-top-style: solid;
    border-top-color: #002060;
}

.essay_comment {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.essay_table_title {
    font-family: Besom;
    color: white;
    background-color: #002060;
    text-align: center;
    font-size: 40px;
}

.result_per_subject_table {
    width: 100%;
}

.result_per_subject_default_cell {
    color: #2f5497;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.result_per_subject_table_title {
    font-family: Besom;
    color: white;
    background-color: #002060;
    text-align: center;
    font-size: 40px;
}

.result_per_subject_header_cell {
    color: #2f5497;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.result_per_subject_table_subject_title {
    font-family: Besom;
    color: #2f5497;
    background-color: #c5d9f1;
    text-align: center;
    font-size: 40px;
}

.result_per_subject_header_cell {
    font-family: Besom;
    color: #2f5497;
    background-color: #c5d9f1;
    text-align: center;
    font-size: 20px;
}


.result_per_subject_pontuation_cell_red {
    font-family: Roboto;
    text-align: center;
    background-color: #ffc7ce;
}
.result_per_subject_pontuation_cell_green {
    font-family: Roboto;
    text-align: center;
    background-color: #99ff99;
}
