<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" type="text/css" href="report_template_instructors.css">
</head>
<!--
    Filling variables:
        document_title: string
        subject_name: string
        num_of_questions: int
        
        discusive_questions: boolean # If False, data is unecessary            

        class_info: list of classes
            class: class: dict
                keys: name: string
                      objc_mean: float 
                      objc_pctg: string 
                      objc_std: float
                      essay_mean: float
                      essay_std: float
                      # Necessary only if discursive_questions = True
                      disc_mean: float
                      disc_std: float

        comparative_chart_path: string, path to generated chart

-->
<body>
    <table class='header_table'>
        <tr>
            <td class='header_table_cell'>
                <img src='images/azulhorizontal.png' class='header_image'>
            </td>
            <td class='header_table_cell'>
                <span class='header_text'>{{document_title}}</span>
            </td>
        </tr>
    </table>
    
    <table>
        <th>
            <td colspan="6">{{subject_name}}</td>
        </th>
        <tr>
            <td colspan="3">Número de questões</td>
            <td colspan="3">{{num_of_questions}}</td>
        </tr>
    </table>

    <table>
        <th>
            <td colspan="10">Dados Gerais das Turmas</td>
        </th>
        <!-- Blocks for creating different reports for tests with and without discursive questions #} -->
        {% if discursive_questions %}
        <tr>
            <td colspan="1">Turma</td>
            <td colspan="3">Objetivas</td>
            <td colspan="3">Redação</td>
            <td colspan="3">Discursivas</td>
        </tr>
        <tr>
            <td colspan="1">Turma</td>
            <td colspan="1">% de acerto</td>
            <td colspan="1">Média</td>
            <td colspan="1">Devio padrão</td>
            <td colspan="1">Média</td>
            <td colspan="2">Desvio padrão</td>
            <td colspan="1">Média</td>
            <td colspan="2">Desvio padrão</td>
        </tr>
        {% for class in class_info %}
        <tr>
            <td colspan="1">{{ class.name }}</td>
            <td colspan="1">{{ class.objc_pctg }}</td>
            <td colspan="1">{{ class.objc_mean }}</td>
            <td colspan="1">{{ class.objc_std }}</td>
            <td colspan="1">{{ class.essay_mean }}</td>
            <td colspan="2">{{ class.essay_std }}</td>
            <td colspan="1">{{ class.disc_mean }}</td>
            <td colspan="2">{{ class.disc_std }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="2"></td>
            <td colspan="4">Objetivas</td>
            <td colspan="4">Redação</td>
        </tr>
        <tr>
            <td colspan="2">Turma</td>
            <td colspan="2">% de acerto</td>
            <td colspan="1">Média</td>
            <td colspan="1">Devio padrão</td>
            <td colspan="2">Média</td>
            <td colspan="2">Desvio padrão</td>
        </tr>
        {% for class in class_info %}
        <tr>
            <td colspan="2">{{ class.name }}</td>
            <td colspan="2">{{ class.objc_pctg }}</td>
            <td colspan="1">{{ class.objc_mean }}</td>
            <td colspan="1">{{ class.objc_std }}</td>
            <td colspan="2">{{ class.essay_mean }}</td>
            <td colspan="2">{{ class.essay_std }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <table>
        <th>
            <td>Gŕafico comparativo</td>
        </th>
        <tr>
            <td>
                <img src="{{ comparative_chart_path }}">
            </td>
        </tr>
    </table>

    <table>
        <th>
            <td>Sobre as questões</td>
        </th>
        <tr>
            {% for q in objectives_headers %}
            <td>{{ q }}</td>
            {% enfor %}
        </tr>
        {% for q in %}
    </table>
</body>
</html>
