@font-face {
    font-family: Besom;
    src: url(fonts/Besom-free-font.ttf) format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}


@page {
    size: A4;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
    margin-right: 0.5cm;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}


.header_table {
    width: 100%;
}

.header_table_cell {
    text-align: center;
}

.header_text {
    font-family: Besom;
    color: #2f5497;
    font-size: 50px;
}

.header_image {
    width: 8cm;
}